h2 {
    text-align: center;
    color: aqua;
    padding: 3px;
    background-color: gray;
    text-shadow: 2px;
}

h4 {
    text-align: center;
    color: blue;
}

a {
    text-decoration: none;
    color: rgb(31, 4, 75);
}