/* styles.css */

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background:rgb(214, 149, 74);
}

nav .logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

nav .menu {
    display: flex;
    gap: 15px;
}

nav .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    border-bottom: 1px solid transparent;
    width: fit-content;
}

nav .menu a:hover {
    color: rgb(109, 65, 14);
    border-color: black;
}

header {
    text-align: center;
    padding: 40px 10px;
    /* background: linear-gradient(90deg, #4facfe, #00f2fe); */
    color: white;
}

header h1 {
    font-size: 2.5rem;
    color: black;
    animation: fadeIn 2s ease-in-out;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}


.logo img{
    cursor: pointer;
}
.logo img:hover{
    transform: translateY(-10px);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0;
    color: #333;
}

.card p {
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(133, 83, 27);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s;
}

.button:hover {
    background: rgb(233, 190, 141);
}

footer {
    text-align: center;
    padding: 10px;
    background: rgb(129, 85, 34);
    color: white;
}
